build --@rules_rust//rust/toolchain/channel=nightly

build --@rules_rust//rust/settings:rustfmt.toml=//:.rustfmt.toml
build --aspects=@rules_rust//rust:defs.bzl%rustfmt_aspect
build --output_groups=+rustfmt_checks

build --@rules_rust//rust/settings:clippy_flag="-Dclippy::self_named_module_files"
build --@rules_rust//rust/settings:clippy_flag="-Dclippy::ptr_as_ptr"
build --@rules_rust//rust/settings:clippy_flag="-Dclippy::manual_assert"
build --aspects=@rules_rust//rust:defs.bzl%rust_clippy_aspect
build --output_groups=+clippy_checks

build --action_env=PATH
build --host_action_env=PATH
