[package]
name = "belalang_ast"
publish = false
version.workspace = true
edition.workspace = true
license.workspace = true

[lints]
workspace = true

[dependencies]
belalang_lexer.workspace = true
thiserror.workspace = true
