[package]
name = "belalang_gc"
publish = false
version.workspace = true
edition.workspace = true
license.workspace = true

[lints]
workspace = true

[dependencies]
libc.workspace = true
thiserror.workspace = true

[dependencies.windows-sys]
workspace = true
features = ["Win32_System_Memory"]
