name: PR
on:
  pull_request:
    types: [opened, synchronize]
    branches: [main]
jobs:
  labeler:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write
    steps:
      - name: Get changed files
        id: changed-files
        uses: tj-actions/changed-files@v46
        with:
          files_yaml: |
            compiler:
              - 'compiler/**'
            vm:
              - 'vm/**'
